.carousel-inner > .carousel-item {
    height: 70vh;
}

/*.carousel-inner > .carousel-item > img {
    position: absolute;
    max-height: 70vh;
    width: auto;
}*/

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: #777;
}
.carousel-item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
}