.carousel-inner > .carousel-item {
    height: 50vh;
}

/*.carousel-inner > .carousel-item > img {
    position: absolute;
    max-height: 70vh;
    width: auto;
}*/

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 24rem;
    background-color: #ffffff;
}
.carousel-item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100%;
}

.carousel-control-next,
.carousel-control-prev {
     filter: invert(100%);
}

.carousel-indicators {
    filter: invert(100%);
}
