<div class="card">
  <img class="card-img-top" src="/assets/images/kermis/{{ include.img }}">
  <div class="card-body">
      <h5 class="card-title">{{ include.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ include.time }}</h6>

    <p class="card-text">
        {{ include.text }}
    </p>
    {% if include.href %}
    <a href="{{ include.href }}" target="_blank" class="btn btn-primary">{{ include.linktext }}</a>
    {% endif %}
    {% if include.href_disabled %}
    <a class="btn btn-secondary disabled">{{ include.linktext }}</a>
    {% endif %}
  </div>
</div>
