.kermis-card-group {
  padding: 10px;
}

.kermis-card-group-container {
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}

.kermis-card-group-container .card-deck .card img {
  height: 250px;
  object-fit: cover;
}
