---
layout: knooppunt
kpid: bergkapel
title: Bergkapel
---

<div class="card-columns">
    {% include kp_image.html filename='1.jpg' caption='Bergkapel vroeger en nu.'%}
    {% include kp_image.html filename='2.jpg'%}
    {% include kp_image.html filename='3.jpg'%}
    {% include kp_image.html filename='4.jpg'%}
    {% include kp_image.html filename='5.jpg'%}
    {% include kp_image.html filename='6.jpg' caption='Aanleg geboortebos en patrijzenbos nu.'%}
    {% include kp_image.html filename='7.jpg'%}
</div>

