---
layout: knooppunt
kpid: sentestraat
title: Sentestraat
---

<div class="card-columns">
{% include kp_image.html filename='1.jpg'%}
{% include kp_image.html filename='2.jpg' caption='De roterij Vanacker vroeger en nu. Nu huisvest deze roterij een woning en  B&B  ‘De vlasschaerd’ '%}
{% include kp_image.html filename='3.jpg'%}
{% include kp_image.html filename='4.jpg'%}
{% include kp_image.html filename='5.jpg' caption='De originele stoommachine is bewaard gebleven.'%}
{% include kp_image.html filename='6.jpg'%}
{% include kp_image.html filename='7.jpg'%}
</div>

<hr/>

<div class="col-md-6 offset-md-3">
{% include kp_image.html filename='8.jpg' caption='In de landelijke rand van de Stad Kortrijk werd een 19de eeuwse vlasfabriek volledig gerenoveerd. Alles werd gerestaureerd met oog en respect voor het verleden. Zo werd de oude schoorsteen in de tuin behouden evenals de indrukwekkende stoommachine uit 1884 die in eer werd hersteld. Een mooi stukje industriële archeologie. Op dit domein werden twee voormalige vlasroteputten verbouwd tot een gezellige vakantiewoning.'%}
</div>
