---
layout: knooppunt
kpid: steuren_ambacht
title: Steuren Ambacht
---

<div class="card-columns">
    {% include kp_image.html filename='1.jpg' caption='Café ‘Steuren Ambacht’ bevond zich op de hoek van de Mellestraat en de Steuren Ambachtstraat. Germaine Vanneste, die later’ ’t hof van commerce’ uitbaatte in het centrum, was hier jaren lang café bazin. Iets verderop in de Mellestraat bevond zich aan de rechterkant vroeger de Melkerij, later ‘feestzaal de Melkerij’, nu particuliere woning.(foto via Noël Maes).'%}
    {% include kp_image.html filename='2.jpg' caption='De melkerij.'%}
    {% include kp_image.html filename='3.jpg'%}
    {% include kp_image.html filename='4.jpg'%}
    {% include kp_image.html filename='5.jpg'%}
    {% include kp_image.html filename='6.jpg'%}
    {% include kp_image.html filename='7.jpg'%}
</div>

