---
layout: knooppunt
kpid: vwmstraat
title: Arthur Vanwildemeerschstraat
---

<div class="card-columns">
{% include kp_image.html filename='1-1.jpg' caption='Vlaskapellen op de hoek van de Izegemsestraat en de Driekoningenweg.' %}
{% include kp_image.html filename='1-2.jpg' caption='Aanleg Driekoningenweg en Katrienwiel einde jaren ’70.'%}
</div>

<hr/>

<div class="card-columns">
{% include kp_image.html filename='2-1.jpg' caption='Op de voorgrond Oude vlasroterij Vanfleteren, nu A. Vanwildemeerschstraat, bovenaan links vlasroterij Vercaemer, nu kunstgalerij Atmosfera.'%}
{% include kp_image.html filename='2-2.jpg'%}
{% include kp_image.html filename='2-3.jpg' caption='Aanvankelijk een vlasroterij uit 1929 (vlasroterij Vercaemer), werd dit industrieel gebouw in 2011 totaal gerenoveerd tot ruime loft en kunstgalerij. De betrokken architect was de heer Roland Decorte uit Bavikhove, zelf bewoner van een dergelijk pand. De aanleg van de ruime tuin (het gebouw staat op 5500 vierkante meter) werd toevertrouwd aan de tuinarchitect van de stad Kortrijk, Denis Dujardin. De galerij is gespecialiseerd in de aankoop, verkoop en verhuur van hedendaagse en moderne kunst. De galerij is vrij toegankelijk, na telefonische afspraak:  0495/286894'%}
{% include kp_image.html filename='2-4.jpg'%}
{% include kp_image.html filename='2-5.jpg' caption='Werkmanshuisjes en hangar gezien vanuit St. Katriensteenweg.'%}
{% include kp_image.html filename='2-6.jpg' caption='Hangar nu, de werkmanshuisjes zijn verdwenen.'%}
{% include kp_image.html filename='2-7.jpg'%}
</div>

<hr/>

<div class="card-columns">
{% include kp_image.html filename='3-1.jpg' caption='Zicht op de Izegemsestraat en café Den IJzer halverwege de jaren ’30.'%}
{% include kp_image.html filename='3-2.jpg' caption='Luchtfoto hoek Izegemsestraat en St. Katriensteenweg met café Den Ijzer.'%}
{% include kp_image.html filename='3-3.jpg' caption='Mr. en Mevr. Achiel Laridon – Marcella Destobere aan hun café halverwege de jaren ’50. Hier staat nu bakkerij Aster.'%}
{% include kp_image.html filename='3-4.jpg'%}
</div>

<hr/>

<div class="card-columns">
{% include kp_image.html filename='4-1.jpg'%}
{% include kp_image.html filename='4-2.jpg'%}
{% include kp_image.html filename='4-3.jpg' caption='Vlasroterij Vanfleteren, op vandaag de A. Vanwildemeerschstraat, aangelegd in  2002. Landbouwer Arthur Vanwildemeersch is geboren in 1888 en woonde op een hoeve in de Mellestraat 387 waar ook zijn vader had geboerd. In 1921 werd hij tot burgemeester van Heule verkozen. Hij bleef burgemeester tot zijn overlijden in 1952.'%}
{% include kp_image.html filename='4-4.jpg'%}
{% include kp_image.html filename='4-5.jpg'%}
</div>

<hr/>

<div class="row">
    <!-- Filmpje Den Yzer -->
    <div class="col-md-6 offset-md-3">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Jmc4Cxubgr4" allowfullscreen></iframe>
        </div>
    </div>
</div>
