<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-3">
      <img class="rounded-circle" src="{{site.baseurl}}/assets/images/kunst.jpg" style="object-fit: cover" alt="Kunstproject" width="140" height="140">
    <h2>Kunstproject</h2>
    <p>Nieuw kunstproject in Sente van en voor alle Sentenaren! Doe mee en laat je vereeuwigen met je zelfportret. Inschrijven kan tijdens het kermisweekend. </p>
    <p><a class="btn btn-secondary" href="{{site.baseurl}}/kunstproject" role="button">Meer info &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-3">
      <img class="rounded-circle" src="{{site.baseurl}}/assets/images/kermis/eucharistie.jpg" style="object-fit: cover" alt="Wandeling" width="140" height="140">
    <h2>Wandelingen</h2>
    <p>Wandel nu en ontdek Sente op een andere manier. Drie lussen, 25 knooppunten waarop je een link vindt naar foto's en filmpjes van vroeger en 1 fotozoektocht. Nodig je familie, je vrienden en kennissen uit en neem deel.</p>
    <p><a class="btn btn-secondary" href="{{site.baseurl}}/wandeling" role="button">Meer info &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-3">
      <img class="rounded-circle" src="{{site.baseurl}}/assets/images/kermis/receptie.jpg" style="object-fit: cover" alt="Sente Kermis" width="140" height="140">
    <h2>Sente Kermis 2021</h2>
    <p>Vrijdag 3 september vliegen we er weer in, met een nieuwe editie van Sente Kermis!</p>
    <p><a class="btn btn-secondary" href="{{site.baseurl}}/kermis" role="button">Bekijk hier het programma &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-3">
      <img class="rounded-circle" src="{{site.baseurl}}/assets/images/vlag.png" style="object-fit: cover" alt="Bevlag je huizen" width="140" height="140">
    <h2>Bevlag je huizen!</h2>
    <p>Bestel hier je vlag van Sente!</p>
    <p><a class="btn btn-secondary" href="{{site.baseurl}}/vlag" role="button">Meer info &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
