---
layout: default
---

<script src="/js/lightbox-plus-jquery.min.js"></script>
<link href="/css/lightbox.min.css" rel="stylesheet"/>

{% for knooppunt in site.data.knooppunten %}
    {% if knooppunt.id == page.knooppuntid %}
    <h1>{{ knooppunt.description }}</h1>
    <ol>
        {% for image in knooppunt.images %}
            <li>
                {{ image.caption }}<br>
                <a href="{{ knooppunt.imagefolder }}/{{ image.name }}" data-lightbox="{{ knooppunt.id }}" title="{{ image.caption }}">
                    <img src="{{ knooppunt.imagefolder }}/{{ image.name }}" style="max-width:300px">
                </a>
            </li>
        {% endfor %}
    </ol>
    {% endif %}
{% endfor %}
