---
layout: default
---

{% capture imagefolder %}
/images/knooppunten/{{ page.kpid }}
{% endcapture %}

<script src="/js/lightbox-plus-jquery.min.js"></script>
<link href="/css/lightbox.min.css" rel="stylesheet"/>

<h1>{{ page.title }}</h1>


<div class="card-columns">

{% for image in page.images %}
    <div class="card text-center mt-2">
        <a href="{{ imagefolder }}/{{ image.name }}" data-lightbox="{{ page.kpid }}" title="{{ image.caption }}">
            <img class="card-img-top" src="{{ imagefolder }}/{{ image.name }}" style="max-width:300px">
        </a>
        <div class="card-body">
            <p class="card-text">{{ image.caption }}</p>
        </div>
    </div>
{% endfor %}
</div>
